* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-page-color: #7a04eb;
    --text-color: #05d9e8;
    --text-color2: #65dc98;
    --logo-border-color: #ff2a6d;
    --background-logo-color: #120458;
}

@font-face {
    font-family: logoTextFont;
    src: url(Norse-Bold.otf);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    
}


.background-img-left {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(cyberpunk.avif);
    background-size: cover;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 4, 88, 0.4);
    border-bottom: 1px solid var(--logo-border-color);
    border-top: 1px solid var(--logo-border-color);
    padding: 25px;
 
}

#logo {
    position: static;
    width: 150px;
    
}

.logo-container > p {
    font-family: logoTextFont;
    color: var(--text-color);

    font-size: 100px;
}

.material-symbols-outlined {
    font-size: 50px !important;
    color: var(--text-color);
    visibility: hidden;
}

.content-right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 65%;
    background-color: var(--main-page-color);
    color: var(--text-color);
}




@media only screen and (max-width: 1200px) {
    
    .container {
        flex-direction: column;
    }

   .logo-container {
    flex-direction: column;
    align-self: center;
    height: 500px;
    width: 100%;
    margin-bottom: 0px;

   }

   .background-img-left {
    flex-direction: column;
    min-height: 100vh;
   }

   .material-symbols-outlined {
    visibility: visible;
    align-self: center;
    cursor: pointer;
    transform: rotate(90deg);
   }

   
  }
